<div class="login-container">
  <div class="margen">
    <h1 align="center">Login</h1>
  </div>
  <div>
    <mat-form-field class="full-width margen">
      
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingresa tu usuario" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Ingresa tu contraseña" />
    </mat-form-field>
  </div>
  <mat-checkbox [checked]="ocultar()" (change)="mostrar()">
    Recordarme
  </mat-checkbox>
  <div>
    <button mat-flat-button class="full-width ingresar-button">Ingresar</button>
  </div>
  <div class="margen-bot" align="center">
    <a mat-button href="#" target="_blank">¿Olvidaste la contraseña?</a>
  </div>
</div>
